# Ignore everything
/*

# But not these folders
!/FoundationPose/
!/GroundedSAM_demo/

# Ignore Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Ignore virtual environments
venv*/
env*/
*.egg-info/

# Ignore build and dist folders
build/
dist/
*.so

# Ignore IDE settings
.vscode/
*.code-workspace

# Ignore data and assets (unless inside allowed folders)
assets/
demo_data/
weights/
debug/